---
import HeroLogo from "./HeroLogo.astro";
---

<section class="flex flex-col justify-center items-center">
  <span
    class="text-xl uppercase text-secondary bg-primary px-6 mb-9 py-1 font-medium"
  >
    Presentación de la
  </span>
  <HeroLogo class="text-primary" />
</section>
